.harta {
    width: 100%;
}

.content {
    display: flex;
}

.continente {
    margin-bottom: 30px;
}

.content img {
    width: 300px;
    height: auto;
}

.content p {
    margin-right: 400px;
}