.imagini {
    display: flex;
    margin-bottom: 10px;
}

.imagini img {
    width: 400px;
    height: fit-content;
}

table {
    width: 100%;
    margin-bottom: 30px;
}

th, td {
    border: 1px solid #E0E0E0;
}

th {
    background-color: #FAFAFA;
    padding: 1rem;
    line-height: 1.2;
    font-weight: bold;
    white-space: nowrap;
}

td {
    background-color: #FFFFFF;
    padding: 1rem;
}